<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
		<Title>{{>TitlePrefix}} {{DisplayName}} {{ComponentName}} v{{version}} - Windows (x64)</Title>
		<Description><![CDATA[
{{>DescriptionBasic}}
{{>DescriptionIcon}}
		]]></Description>
		<Relevance>windows of operating system</Relevance>
		<Relevance><![CDATA[x64 of operating system]]></Relevance>
		{{#patch}}{{#DisplayName}}
		<Relevance><![CDATA[{{#install_only}}not {{/install_only}}( (exists keys whose(value "DisplayName" of it as string starts with "{{DisplayName}}") of keys "HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall" of (x32 registries; x64 registries)) AND (exists files "tvnserver.exe" of folders "TightVNC" of (program files folders; program files x64 folders)) )]]></Relevance>
		{{/DisplayName}}{{/patch}}
		{{^install_only}}
		<Relevance><![CDATA[not exists (it as string as version) whose(it >= "{{version}}") of values "DisplayVersion" of keys whose(value "DisplayName" of it as string starts with "{{DisplayName}}") of keys "HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall" of (x32 registries; x64 registries)]]></Relevance>
		{{/install_only}}
		<Category></Category>
		<DownloadSize>{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}</DownloadSize>
		<Source>{{VendorFolder}}</Source>
		<SourceID>BigFix</SourceID>
		<SourceReleaseDate>{{SourceReleaseDate}}</SourceReleaseDate>
		<SourceSeverity></SourceSeverity>
		<CVENames></CVENames>
		<SANSID></SANSID>
		<MIMEField>
			<Name>action-ui-metadata</Name>
			<Value>{{>action-ui-metadata}}</Value>
		</MIMEField>
		{{>cpe23}}
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>{{x-fixlet-modification-time}}</Value>
		</MIMEField>
		<Domain>BESC</Domain>
		<DefaultAction ID="Action1">
			<Description>
				<PreLink><![CDATA[Click ]]></PreLink>
				<Link>here</Link>
				<PostLink><![CDATA[ to deploy {{DisplayName}} {{ComponentName}} v{{version}}.]]></PostLink>
			</Description>
			<ActionScript MIMEType="application/x-Fixlet-Windows-Shell"><![CDATA[
// Download:
{{{prefetch}}}

parameter "components" = "{ concatenations "," of unique values of ( "{{{ComponentName}}}";( ( if it = "tvnviewer.exe" then "Viewer" else NOTHINGS ); ( if it = "tvnserver.exe" then "Server" else NOTHINGS ) ) of names of (files "tvnserver.exe" of it; files "tvnviewer.exe" of it) of folders "TightVNC" of (program files folders; program files x64 folders) ) }"

// Install:
override wait
hidden=true
completion=job
wait msiexec.exe /i __Download\{{{file_name}}} /qn ADDLOCAL={parameter "components"}
]]></ActionScript>
      		<SuccessCriteria Option="OriginalRelevance"></SuccessCriteria>
		</DefaultAction>
	</{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
</BES>
