<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
		<Title>Install/Update: {{DisplayName}} v{{version}} - Windows (x64)</Title>
		<Description><![CDATA[
This task will download and install "{{DisplayName}} v{{version}}" package onto selected endpoints <br><br><b>Run Command As:</b> System User<br><br><b>Download Size:</b> {{DownloadSize}}
{{#icon_base64}}<br/><br/><b>Icon:</b><br/><img style="display:block; width:256px;" src="data:{{icon_type}}{{^icon_type}}image/png{{/icon_type}};base64,{{icon_base64}}" />{{/icon_base64}}
		]]></Description>
		<Relevance>windows of operating system</Relevance>
		<Relevance><![CDATA[x64 of operating system]]></Relevance>
		<Relevance><![CDATA[
not exists (it as string as version) whose(it >= "{{version}}") of values "DisplayVersion" of keys whose(value "DisplayName" of it as string starts with "{{DisplayName}}") of keys "HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall" of (x32 registries; x64 registries)
		]]></Relevance>
		<Category></Category>
		<DownloadSize>{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}</DownloadSize>
		<Source>VMware</Source>
		<SourceID>BigFix</SourceID>
		<SourceReleaseDate>{{SourceReleaseDate}}</SourceReleaseDate>
		<SourceSeverity></SourceSeverity>
		<CVENames></CVENames>
		<SANSID></SANSID>
		<MIMEField>
			<Name>action-ui-metadata</Name>
			<Value>{ {{#version}}"version":"{{version}}",{{/version}}"size":{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}{{#icon_base64}},"icon":"data:{{icon_type}}{{^icon_type}}image/png{{/icon_type}};base64,{{icon_base64}}"{{/icon_base64}} }</Value>
		</MIMEField>
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>{{x-fixlet-modification-time}}</Value>
		</MIMEField>
		<Domain>BESC</Domain>
		<DefaultAction ID="Action1">
			<Description>
				<PreLink>Click </PreLink>
				<Link>here</Link>
				<PostLink> to deploy {{DisplayName}} v{{version}}.</PostLink>
			</Description>
			<ActionScript MIMEType="application/x-Fixlet-Windows-Shell"><![CDATA[
// Download:
{{{prefetch}}}
prefetch 7za.exe sha1:4e9d49a41201e25cf56658578b23f7384a13dc6d size:733696 http://software.bigfix.com/download/tema/lmt/7za.exe sha256:77613cca716edf68b9d5bab951463ed7fade5bc0ec465b36190a76299c50f117

// Create the vmrc temporary folder
parameter "temp_folder" = "{pathname of client folder of current site}\__Download\vmrc"
folder create "{parameter "temp_folder"}"

// Extract the executable from the tar file
move __Download\7za.exe "{parameter "temp_folder" as string}\7za.exe"
waithidden cmd.exe /c ""{parameter "temp_folder" as string}\7za.exe" x "__Download\{{{file_name}}}" -o"{parameter "temp_folder" }" -y"

if {(not active of action) OR (exists file whose (name of it starts with "VMware-VMRC-" and name of it ends with ".exe") of folder (parameter "temp_folder"))}

	// Install:
	override wait
	hidden=true
	completion=job
	wait {pathname of file whose (name of it starts with "VMware-VMRC-" and name of it ends with ".exe") of folder (parameter "temp_folder")} /s /v "/qn EULAS_AGREED=1 AUTOSOFTWAREUPDATE=0 DATACOLLECTION=0 REBOOT=ReallySuppress

endif

// Cleanup
folder delete "{parameter "temp_folder"}"
]]></ActionScript>
      		<SuccessCriteria Option="OriginalRelevance"></SuccessCriteria>
		</DefaultAction>
	</{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
</BES>
