<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
		<Title>Install/Update: {{DisplayName}} v{{version}} - Windows (x64)</Title>
		<Description><![CDATA[This task will download and install "{{DisplayName}} v{{version}}" package onto selected endpoints <br><br><b>Run Command As:</b> System User<br><br><b>Download Size:</b> {{DownloadSize}} KB <p><b>Please note:</b> When the user signs into a new Windows User Profile, the installer will be launched and a copy of the Teams app will be installed in that user's AppData folder.</p>
		{{#icon_base64}}<br/><br/><b>Icon:</b><br/><img style="display:block; width:256px;" src="data:{{icon_type}}{{^icon_type}}image/png{{/icon_type}};base64,{{icon_base64}}" />{{/icon_base64}}
		]]></Description>
		<Relevance>windows of operating system</Relevance>
		<Relevance><![CDATA[not exists (it as string as version) whose(it >= "{{version}}") of values "DisplayVersion" of keys whose(value "DisplayName" of it as string starts with "{{UninstallName}}") of keys "HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall" of (x32 registries; x64 registries)]]></Relevance>
		<Category></Category>
		<DownloadSize>{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}</DownloadSize>
		<Source>Microsoft</Source>
		<SourceID>BigFix</SourceID>
		<SourceReleaseDate>{{SourceReleaseDate}}</SourceReleaseDate>
		<SourceSeverity></SourceSeverity>
		<CVENames></CVENames>
		<SANSID></SANSID>
		<MIMEField>
			<Name>action-ui-metadata</Name>
			<Value>{ {{#version}}"version":"{{version}}",{{/version}}"size":{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}{{#icon_base64}},"icon":"data:{{icon_type}}{{^icon_type}}image/png{{/icon_type}};base64,{{icon_base64}}"{{/icon_base64}} }</Value>
		</MIMEField>
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>{{x-fixlet-modification-time}}</Value>
		</MIMEField>
		<Domain>BESC</Domain>
		<DefaultAction ID="Action1">
			<Description>
				<PreLink>Click </PreLink>
				<Link>here</Link>
				<PostLink> to deploy {{DisplayName}} v{{version}}.</PostLink>
			</Description>
			<ActionScript MIMEType="application/x-Fixlet-Windows-Shell"><![CDATA[
// Download:
{{{prefetch}}}

// Determine if a previous version of {{UninstallName}} exists
if {exists (it as string as version) whose(it < "{{version}}") of values "DisplayVersion" of keys whose(value "DisplayName" of it as string starts with "{{UninstallName}}") of keys "HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall" of (x32 registries; x64 registries)}

// Uninstall previous version of {{UninstallName}} to avoid error 1638
override wait
hidden=true
completion=job
wait msiexec.exe /x {name of keys whose(value "DisplayName" of it as string starts with "{{UninstallName}}") of keys "HKLM\Software\Microsoft\Windows\CurrentVersion\Uninstall" of (x32 registries; x64 registries)} /qn /norestart

endif

// Install:
override wait
hidden=true
completion=job
wait msiexec.exe /i __Download\{{{file_name}}} /qn /norestart ALLUSERS=1 DISABLEDESKTOPSHORTCUT=0 ADDDESKTOPICON=0 ADDSTARTMENU=1 OPTIONS="noAutoStart=true"

// if 1 user logged on:
if { 1 = number of unique values of names of (current users;logged on users) }

// if teams installer exists:
if { exists unique values of pathnames of files "Teams.exe" of folders "Teams Installer" of program files x32 folders }
override run
Hidden=true
RunAs=currentuser
run "{unique value of pathnames of files "Teams.exe" of folders "Teams Installer" of program files x32 folders}"

// END: if teams installer run key exists
endif
// END: if 1 user logged on
endif

]]></ActionScript>
      <SuccessCriteria Option="OriginalRelevance"></SuccessCriteria>
		</DefaultAction>
	</{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
</BES>
