<?xml version="1.0" encoding="UTF-8"?>
<BES xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="BES.xsd">
	<{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
		<Title>{{>TitlePrefix}} {{DisplayName}} v{{version}} - Windows (x64)</Title>
		<Description><![CDATA[
{{>DescriptionBasic}}
{{>DescriptionIcon}}
		]]></Description>
<Relevance>windows of operating system</Relevance>
		<Relevance>(if( name of operating system starts with "Win" ) then platform id of operating system != 3 else false) AND (if exists property "in proxy agent context" then ( not in proxy agent context ) else true ) </Relevance>
		<Relevance>not exists values "PROCESSOR_ARCHITECTURE" whose (it as string as lowercase = "ia64") of keys "HKLM\SYSTEM\CurrentControlSet\Control\Session Manager\Environment" of registry</Relevance>
		<Relevance>version of client >= "7"</Relevance>
		<Relevance>/*App exist but older version*/(exists value "DisplayVersion" whose (it as string as version &lt; "{{version}}") of keys whose (value "DisplayName" of it as string as lowercase contains "oracle vm virtualbox")  of keys "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\" of native registry) OR /*App does not exist*/ not exist keys whose (value "DisplayName" of it as string as lowercase contains "oracle vm virtualbox")  of keys "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\" of native registry</Relevance>
		<Category></Category>
		<DownloadSize>{{DownloadSize}}{{^DownloadSize}}0{{/DownloadSize}}</DownloadSize>
		<Source>{{VendorFolder}}</Source>
		<SourceID>BigFix</SourceID>
		<SourceReleaseDate>{{SourceReleaseDate}}</SourceReleaseDate>
		<SourceSeverity></SourceSeverity>
		<CVENames></CVENames>
		<SANSID></SANSID>
		<MIMEField>
			<Name>action-ui-metadata</Name>
			<Value>{{>action-ui-metadata}}</Value>
		</MIMEField>
		<MIMEField>
			<Name>x-fixlet-modification-time</Name>
			<Value>{{x-fixlet-modification-time}}</Value>
		</MIMEField>
		<Domain>BESC</Domain>
		<DefaultAction ID="Action1">
			<Description>
				<PreLink>Click </PreLink>
				<Link>here</Link>
				<PostLink> to deploy {{DisplayName}} v{{version}}.</PostLink>
			</Description>
			<ActionScript MIMEType="application/x-Fixlet-Windows-Shell"><![CDATA[
// Download:
{{{prefetch}}}

// Install:
override wait
hidden=true
completion=job
wait __Download\{{{file_name}}} --silent --ignore-reboot --msiparams VBOX_INSTALLDESKTOPSHORTCUT=0, VBOX_INSTALLQUICKLAUNCHSHORTCUT=0
]]></ActionScript>
      <SuccessCriteria Option="OriginalRelevance"></SuccessCriteria>
		</DefaultAction>
	</{{TypeTaskOrFixlet}}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}}>
</BES>
