This {{ TypeTaskOrFixlet }}{{^TypeTaskOrFixlet}}Task{{/TypeTaskOrFixlet}} will
download and install "{{ DisplayName }} v{{ version }}" package onto selected
endpoints <br /><br />{{#DownloadSize}}<b>Download Size:</b> {{ DownloadSize
}}{{/DownloadSize}}
